
// 色彩文字 class
.text-green-1 {
  color: #3F5D45;
}
.text-white-1{
  color: #FFFFFF;
}

.bg-green-1{
  background-color: #3F5D45;
}
.bg-green-2{
  background-color: #EAF0ED;
}
.bg-yellow {
  background-color: #FFE180;
}

.text-size-navbar {
  font-size: 16px;
  line-height: 27px;
  font-weight: 500; 
}
.text-size-footer-box1 {
  font-size: 24px;
  line-height: 29px;
}
.text-size-footer-box2 {
  font-size: 16px;
  line-height: 24px;
}
.text-size-footer-box3 {
  font-size: 16px;
  line-height: 19px;
}
.text-size-36-36{
  font-size: 36px;
  line-height: 36px;
}

.img-w-100{
  width: 100px;
}
// footer
.newsletter-section {
  background-color: #3F5D45; // 背景深綠
}

.newsletter-box {
  background-color: #EDF2F2; // 淡綠灰
  overflow: hidden;
  height: 56px;
}

.icon-box {
  width: 56px;
  height: 100%;
  background-color: transparent;
  padding-left: 16px;
}

.icon-mail {
  font-size: 24px;
  color: #3F5D45;
}

.email-input {
  background-color: transparent;
  color: #3F5D45;
  font-size: 16px;

  &::placeholder {
    color: #3F5D45;
  }
}

.arrow-btn {
  width: 64px;
  background-color: #FFE180;
  border: none;

  i {
    color: #3F5D45;
    font-size: 24px;
  }
}

/* 針對登入頁輸入框和按鈕去圓角 */
.input-group .form-control,
.input-group .input-group-text,
.login-button .btn {
  border-radius: 0 !important;
}