// 色彩變數區 
$green-1: #3F5D45;

// 色彩文字 class
.text-green-1 {
  color: $green-1 !important;
}
.text-white-1{
  color: #FFFFFF;
}

.bg-green-1{
  background-color: #3F5D45
}

.text-size-navbar {
  font-size: 16px;
  line-height: 27px;
  font-weight: 500; 
}
.text-size-footer-box1 {
  font-size: 24px;
  line-height: 29px;
}
// footer
.newsletter-section {
  background-color: #3F5D45; // 背景深綠
}

.newsletter-box {
  background-color: #EDF2F2; // 淡綠灰
  overflow: hidden;
  height: 56px;
}

.icon-box {
  width: 56px;
  height: 100%;
  background-color: transparent;
  padding-left: 16px;
}

.icon-mail {
  font-size: 24px;
  color: #3F5D45;
}

.email-input {
  background-color: transparent;
  color: #3F5D45;
  font-size: 16px;

  &::placeholder {
    color: #3F5D45;
  }
}

.arrow-btn {
  width: 64px;
  background-color: #FFE180;
  border: none;

  i {
    color: #3F5D45;
    font-size: 24px;
  }
}