// 色彩文字 class
.text-green-1 {
  color: #3f5d45;
}
.text-white-1 {
  color: #ffffff;
}
.text-green-2{
  color: #8DA291
}
// 背景顏色
.bg-green-1 {
  background-color: #3f5d45;
}
.bg-green-2 {
  background-color: #eaf0ed;
}
.bg-yellow {
  background-color: #ffe180;
}
.bg-white {
  background-color: #ffffff;
}
//文字大小間距
.text-size-navbar {
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
}
.text-size-footer-box1 {
  font-size: 24px;
  line-height: 29px;
}
.text-size-footer-box2 {
  font-size: 16px;
  line-height: 24px;
}
.text-size-footer-box3 {
  font-size: 16px;
  line-height: 19px;
}
.text-size-36-36 {
  font-size: 36px;
  line-height: 36px;
}

.text-size-24-33 {
  font-size: 24px;
  line-height: 33px;
}

.text-size-16-36 {
  font-size: 16px;
  line-height: 16px;
}

// spacing
.m-y-40{
  margin-top: 40px;
  margin-bottom: 40px;
}
.py-40px{
  padding-top: 40px;
  padding-bottom: 40px;
}


//其他
.img-h-24 {
  height: 24px;
}

.border-g2 {
  border: 2px solid #eaf0ed;
}
// footer
.newsletter-section {
  background-color: #3f5d45; // 背景深綠
}

.newsletter-box {
  background-color: #edf2f2; // 淡綠灰
  overflow: hidden;
  height: 56px;
}

.icon-box {
  width: 56px;
  height: 100%;
  background-color: transparent;
  padding-left: 16px;
}

.icon-mail {
  font-size: 24px;
  color: #3f5d45;
}

.email-input {
  background-color: transparent;
  color: #3f5d45;
  font-size: 16px;

  &::placeholder {
    color: #3f5d45;
  }
}

.arrow-btn {
  width: 64px;
  background-color: #ffe180;
  border: none;

  i {
    color: #3f5d45;
    font-size: 24px;
  }
}

/* 針對登入頁輸入框和按鈕去圓角 */
.input-group .form-control,
.input-group .input-group-text,
.login-button .btn {
  border-radius: 0 !important;
}

//login page 換背景
.background-switch {
  background-color: #3f5d45; /* 手機版：綠色 */
  
}

@media (min-width: 992px) {
  .background-switch {
    background-color: #ffffff; /* 桌機版：白色 */
  }
}